In [1]:
import pandas as pd
import numpy as np

# READING ESTIMATED FILE -- by analyzing this data it is found that these are the statistical analysis done to get insight about the data

In [59]:
cases= pd.read_csv('estimated_numbers.csv')
cases.head()

,Country,Year,No. of cases,No. of deaths,No. of cases_median,No. of cases_min,No. of cases_max,No. of deaths_median,No. of deaths_min,No. of deaths_max,WHO Region
0,Afghanistan,2017,630308[495000-801000],298[110-510],630308,495000.0,801000.0,298,110.0,510.0,Eastern Mediterranean
1,Algeria,2017,0,0,0,NaN,NaN,0,NaN,NaN,Africa
2,Angola,2017,4615605[3106000-6661000],13316[9970-16600],4615605,3106000.0,6661000.0,13316,9970.0,16600.0,Africa
3,Argentina,2017,0,0,0,NaN,NaN,0,NaN,NaN,Americas
4,Armenia,2017,0,0,0,NaN,NaN,0,NaN,NaN,Europe

# REPORTED DATA IS THE MAIN DATA IN WHICH PROCESSING SHOULD BE DONE, HERE NO. OF DEATHS IS THE LABEL, WHICH IS NEEDED TO BE PREDICTED

In [29]:
reports = pd.read_csv('reported_numbers.csv')
reports.head()

       Country  Year  No. of cases  No. of deaths             WHO Region
0  Afghanistan  2017      161778.0           10.0  Eastern Mediterranean
1      Algeria  2017           0.0            0.0                 Africa
2       Angola  2017     3874892.0        13967.0                 Africa
3    Argentina  2017           0.0            1.0               Americas
4      Armenia  2017           0.0            NaN                 Europe

# one thing that can be noticed in incidence data is that No. of deaths is missing

In [3]:
incidence = pd.read_csv('incidence_per_1000_pop_at_risk.csv')
incidence.head()

       Country  Year  No. of cases             WHO Region
0  Afghanistan  2018         29.01  Eastern Mediterranean
1      Algeria  2018          0.00                 Africa
2       Angola  2018        228.91                 Africa
3    Argentina  2018          0.00               Americas
4      Armenia  2018          0.00                 Europe

In [30]:
len(incidence['Year'].unique())

19

In [31]:
cases['Year'].unique()

array([2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010], dtype=int64)

In [32]:
len(reports['Year'].unique())

18

In [33]:
reports.shape

(1944, 5)

In [34]:
reports.isnull().sum()

Country            0
Year               0
No. of cases     234
No. of deaths    269
WHO Region         0
dtype: int64

In [35]:
reports.dtypes

Country           object
Year               int64
No. of cases     float64
No. of deaths    float64
WHO Region        object
dtype: object

# ENCODING

In [36]:
reports = pd.get_dummies(reports,drop_first=True)

In [37]:
reports = reports.fillna(0)

In [38]:
reports.isnull().sum()

Year                                0
No. of cases                        0
No. of deaths                       0
Country_Algeria                     0
Country_Angola                      0
                                   ..
WHO Region_Americas                 0
WHO Region_Eastern Mediterranean    0
WHO Region_Europe                   0
WHO Region_South-East Asia          0
WHO Region_Western Pacific          0
Length: 115, dtype: int64

In [14]:
y = reports['No. of deaths']
X = reports.drop(['No. of deaths'],axis=1)

In [39]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_X = sc_X.fit_transform(reports)
#Convert to table format - StandardScaler 
sc_X = pd.DataFrame(data=sc_X)
sc_X

,0,1,2,3,4,5,6,7,8,9,...,105,106,107,108,109,110,111,112,113,114
0,1.638356,-0.151150,-0.274805,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.491304,2.591194,-0.301511,-0.301511,-0.336752
1,1.638356,-0.286218,-0.277301,10.344080,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.491304,-0.385922,-0.301511,-0.301511,-0.336752
2,1.638356,2.948919,3.208825,-0.096674,10.344080,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.491304,-0.385922,-0.301511,-0.301511,-0.336752
3,1.638356,-0.286218,-0.277051,-0.096674,-0.096674,10.344080,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,2.035401,-0.385922,-0.301511,-0.301511,-0.336752
4,1.638356,-0.286218,-0.277301,-0.096674,-0.096674,-0.096674,10.344080,-0.096674,-0.096674,-0.096674,...,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.491304,-0.385922,3.316625,-0.301511,-0.336752
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1939,-1.638356,-0.261392,-0.271310,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,10.344080,-0.096674,-0.096674,-0.096674,-0.096674,2.035401,-0.385922,-0.301511,-0.301511,-0.336752
1940,-1.638356,-0.224172,-0.241858,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,10.344080,-0.096674,-0.096674,-0.096674,-0.491304,-0.385922,-0.301511,-0.301511,2.969542
1941,-1.638356,0.878042,-0.277301,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,-0.096674,10.344080,-0.096674,-0.096674,-0.491304,2.591194,-0.301511,-0.301511,-0.336752
1942,-1.638356,-0.286218,-0.277301,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,-0.096674,-0.096674,10.344080,-0.096674,-0.491304,-0.385922,-0.301511,-0.301511,-0.336752
1943,-1.638356,-0.286218,-0.277301,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,-0.096674,-0.096674,-0.096674,10.344080,-0.491304,-0.385922,-0.301511,-0.301511,-0.336752

In [40]:
y = sc_X[2]
y = pd.DataFrame(y)
y

             2
0    -0.274805
1    -0.277301
2     3.208825
3    -0.277051
4    -0.277301
...        ...
1939 -0.271310
1940 -0.241858
1941 -0.277301
1942 -0.277301
1943 -0.277301

[1944 rows x 1 columns]

In [41]:
X = sc_X.drop(columns = 2, axis=1).reset_index(drop=True)
X

,0,1,3,4,5,6,7,8,9,10,...,105,106,107,108,109,110,111,112,113,114
0,1.638356,-0.151150,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.491304,2.591194,-0.301511,-0.301511,-0.336752
1,1.638356,-0.286218,10.344080,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.491304,-0.385922,-0.301511,-0.301511,-0.336752
2,1.638356,2.948919,-0.096674,10.344080,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.491304,-0.385922,-0.301511,-0.301511,-0.336752
3,1.638356,-0.286218,-0.096674,-0.096674,10.344080,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,2.035401,-0.385922,-0.301511,-0.301511,-0.336752
4,1.638356,-0.286218,-0.096674,-0.096674,-0.096674,10.344080,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.491304,-0.385922,3.316625,-0.301511,-0.336752
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1939,-1.638356,-0.261392,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,10.344080,-0.096674,-0.096674,-0.096674,-0.096674,2.035401,-0.385922,-0.301511,-0.301511,-0.336752
1940,-1.638356,-0.224172,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,10.344080,-0.096674,-0.096674,-0.096674,-0.491304,-0.385922,-0.301511,-0.301511,2.969542
1941,-1.638356,0.878042,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,-0.096674,10.344080,-0.096674,-0.096674,-0.491304,2.591194,-0.301511,-0.301511,-0.336752
1942,-1.638356,-0.286218,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,-0.096674,-0.096674,10.344080,-0.096674,-0.491304,-0.385922,-0.301511,-0.301511,-0.336752
1943,-1.638356,-0.286218,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,-0.096674,...,-0.096674,-0.096674,-0.096674,-0.096674,10.344080,-0.491304,-0.385922,-0.301511,-0.301511,-0.336752

In [42]:
from sklearn.metrics import r2_score

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# LINEAR REGRESSION

In [44]:
from sklearn import linear_model
import statsmodels.api as sm

In [45]:
from sklearn.linear_model import LinearRegression
lin_reg_mod = LinearRegression()

In [46]:
lin_reg_mod.fit(X_train, y_train)

LinearRegression()

In [47]:
pred = lin_reg_mod.predict(X_test)

In [48]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [49]:
test_set_rmse = (np.sqrt(mean_squared_error(y_test, pred)))

test_set_r2 = r2_score(y_test, pred)

In [50]:
print(test_set_rmse)
print(test_set_r2)

0.6934803467355345
0.5930797228204006

In [51]:
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

In [52]:
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 [0.00052009]
Coefficients:
 [[-3.42946648e-02  9.14003286e-02 -6.44981415e+11 -6.44981415e+11
   1.80846559e+12 -9.05883029e+11 -9.05883029e+11 -8.14902150e+11
   1.80846559e+12 -6.44981415e+11 -8.14902150e+11  1.80846559e+12
  -6.44981415e+11  1.80846559e+12 -6.44981415e+11 -6.44981415e+11
  -6.44981415e+11 -3.31424396e+12 -6.44981415e+11 -6.44981415e+11
  -6.44981415e+11 -3.31424396e+12  1.80846559e+12 -6.44981415e+11
   1.80846559e+12  1.80846559e+12 -6.44981415e+11 -3.31424396e+12
  -6.44981415e+11  2.31575132e-03  1.80846559e+12  1.80846559e+12
   1.16697820e-03  1.80846559e+12 -6.44981415e+11 -6.44981415e+11
  -6.44981415e+11 -6.44981415e+11 -6.44981415e+11 -6.44981415e+11
  -9.05883029e+11 -6.44981415e+11  1.80846559e+12 -6.44981415e+11
  -6.44981415e+11  1.80846559e+12  1.80846559e+12  1.80846559e+12
  -8.14902150e+11 -8.14902150e+11  2.30820806e-05  2.67859686e-04
  -9.05883029e+11 -6.44981415e+11 -9.05883029e+11 -3.31424396e+12
  -6.44981415e+11 -6.44981415e+11 -6.44981415e+11 -3.31424396e+12
  -6.44981415e+11 -6.44981415e+11 -6.44981415e+11  1.80846559e+12
   9.71152979e-04 -6.44981415e+11 -8.14902150e+11 -6.44981415e+11
  -8.14902150e+11  1.80846559e+12 -6.44981415e+11 -6.44981415e+11
   2.88494538e-04  7.49370552e-04  1.80846559e+12 -3.31424396e+12
   1.80846559e+12  1.80846559e+12 -3.31424396e+12 -3.31424396e+12
  -6.44981415e+11 -6.44981415e+11  8.57984832e-04 -6.44981415e+11
  -6.44981415e+11 -3.31424396e+12  1.80373287e-04 -6.44981415e+11
  -6.44981415e+11 -8.14902150e+11  2.63291934e-02  1.80846559e+12
   5.92752002e-04 -9.05883029e+11 -8.14902150e+11 -8.14902150e+11
  -6.44981415e+11 -9.05883029e+11 -9.05883029e+11 -6.44981415e+11
  -1.14199820e-03 -6.44981415e+11 -9.05883029e+11 -3.31424396e+12
   1.80846559e+12 -3.31424396e+12 -2.85384234e-04 -6.44981415e+11
  -6.44981415e+11 -1.01380415e+13 -2.26195133e+12  7.52876479e+11
   4.90335505e+11  8.42910789e+12]]

In [53]:
X = sm.add_constant(X) # adding a constant
 
model = sm.OLS(y, X).fit()
predictions = model.predict(X) 
 
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      2   R-squared:                       0.579
Model:                            OLS   Adj. R-squared:                  0.554
Method:                 Least Squares   F-statistic:                     23.16
Date:                Mon, 08 Mar 2021   Prob (F-statistic):          1.87e-269
Time:                        18:21:12   Log-Likelihood:                -1917.0
No. Observations:                1944   AIC:                             4054.
Df Residuals:                    1834   BIC:                             4667.
Df Model:                         109
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0011      0.022     -0.049      0.961      -0.044       0.042
0             -0.0342      0.016     -2.147      0.032      -0.065      -0.003
1              0.0911      0.019      4.687      0.000       0.053       0.129
3           9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
4           9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
5           1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
6           9.912e+09   1.47e+11      0.067      0.946   -2.78e+11    2.98e+11
7           9.912e+09   1.47e+11      0.067      0.946   -2.78e+11    2.98e+11
8           1.069e+10   1.58e+11      0.067      0.946      -3e+11    3.21e+11
9           1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
10          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
11          1.069e+10   1.58e+11      0.067      0.946      -3e+11    3.21e+11
12          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
13          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
14          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
15          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
16          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
17          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
18          1.323e+10   1.96e+11      0.067      0.946   -3.71e+11    3.98e+11
19          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
20          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
21          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
22          1.323e+10   1.96e+11      0.067      0.946   -3.71e+11    3.98e+11
23          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
24          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
25          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
26          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
27          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
28          1.323e+10   1.96e+11      0.067      0.946   -3.71e+11    3.98e+11
29          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
30             0.0008      0.022      0.037      0.970      -0.042       0.043
31          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
32          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
33             0.0007      0.022      0.032      0.974      -0.042       0.043
34          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
35          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
36          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
37          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
38          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
39          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
40          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
41          9.912e+09   1.47e+11      0.067      0.946   -2.78e+11    2.98e+11
42          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
43          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
44          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
45          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
46          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
47          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
48          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
49          1.069e+10   1.58e+11      0.067      0.946      -3e+11    3.21e+11
50          1.069e+10   1.58e+11      0.067      0.946      -3e+11    3.21e+11
51             0.0007      0.022      0.031      0.975      -0.042       0.043
52             0.0007      0.022      0.032      0.975      -0.042       0.043
53          9.912e+09   1.47e+11      0.067      0.946   -2.78e+11    2.98e+11
54          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
55          9.912e+09   1.47e+11      0.067      0.946   -2.78e+11    2.98e+11
56          1.323e+10   1.96e+11      0.067      0.946   -3.71e+11    3.98e+11
57          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
58          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
59          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
60          1.323e+10   1.96e+11      0.067      0.946   -3.71e+11    3.98e+11
61          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
62          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
63          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
64          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
65             0.0007      0.022      0.033      0.974      -0.042       0.043
66          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
67          1.069e+10   1.58e+11      0.067      0.946      -3e+11    3.21e+11
68          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
69          1.069e+10   1.58e+11      0.067      0.946      -3e+11    3.21e+11
70          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
71          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
72          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
73             0.0007      0.022      0.032      0.974      -0.042       0.043
74             0.0004      0.022      0.017      0.986      -0.042       0.043
75          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
76          1.323e+10   1.96e+11      0.067      0.946   -3.71e+11    3.98e+11
77          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
78          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
79          1.323e+10   1.96e+11      0.067      0.946   -3.71e+11    3.98e+11
80          1.323e+10   1.96e+11      0.067      0.946   -3.71e+11    3.98e+11
81          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
82          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
83             0.0007      0.022      0.032      0.975      -0.042       0.043
84          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
85          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
86          1.323e+10   1.96e+11      0.067      0.946   -3.71e+11    3.98e+11
87             0.0012      0.022      0.055      0.956      -0.041       0.044
88          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
89          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
90          1.069e+10   1.58e+11      0.067      0.946      -3e+11    3.21e+11
91             0.0287      0.022      1.324      0.186      -0.014       0.071
92          1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
93             0.0007      0.022      0.033      0.974      -0.042       0.043
94          9.912e+09   1.47e+11      0.067      0.946   -2.78e+11    2.98e+11
95          1.069e+10   1.58e+11      0.067      0.946      -3e+11    3.21e+11
96          1.069e+10   1.58e+11      0.067      0.946      -3e+11    3.21e+11
97          9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
98          9.912e+09   1.47e+11      0.067      0.946   -2.78e+11    2.98e+11
99          9.912e+09   1.47e+11      0.067      0.946   -2.78e+11    2.98e+11
100         9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
101            0.0007      0.022      0.032      0.974      -0.042       0.043
102         9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
103         9.912e+09   1.47e+11      0.067      0.946   -2.78e+11    2.98e+11
104         1.323e+10   1.96e+11      0.067      0.946   -3.71e+11    3.98e+11
105         1.036e+10   1.53e+11      0.067      0.946   -2.91e+11    3.11e+11
106         1.323e+10   1.96e+11      0.067      0.946   -3.71e+11    3.98e+11
107            0.0004      0.022      0.016      0.987      -0.042       0.043
108         9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
109         9.769e+09   1.45e+11      0.067      0.946   -2.74e+11    2.94e+11
110        -2.437e+09   3.61e+10     -0.067      0.946   -7.33e+10    6.84e+10
111         3.426e+10   5.08e+11      0.067      0.946   -9.61e+11    1.03e+12
112        -4.135e+08   6.13e+09     -0.067      0.946   -1.24e+10    1.16e+10
113        -2.666e+09   3.95e+10     -0.067      0.946   -8.01e+10    7.48e+10
114        -1.092e+10   1.62e+11     -0.067      0.946   -3.28e+11    3.07e+11
==============================================================================
Omnibus:                     1476.856   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           356239.240
Skew:                           2.566   Prob(JB):                         0.00
Kurtosis:                      69.119   Cond. No.                     1.95e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.13e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

C:\Users\Dell\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

# DECISION TREE

In [83]:
from sklearn.tree import DecisionTreeRegressor

In [85]:
dt = DecisionTreeRegressor(random_state = 0)

In [86]:
dt.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [88]:
dt_pred = dt.predict(X_test)

In [89]:
r2_score(y_test, dt_pred)

0.798374375916277

In [91]:
dt_train_pred = dt.predict(X_train)

In [108]:
from scipy.stats import randint

# RANDOM FOREST

In [54]:
from sklearn.ensemble import RandomForestRegressor

In [55]:
rf = RandomForestRegressor(random_state = 42)

In [56]:
rf.fit(X_train,y_train)

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(random_state=42)

In [57]:
yp = rf.predict(X_test)

In [63]:
r2_score(y_test, yp)

0.8402745813538406

In [60]:
tarinpred = rf.predict(X_train)

In [62]:
r2_score(y_train, tarinpred)

0.9701739578091365

In [64]:
from sklearn.model_selection import RandomizedSearchCV
rs = RandomizedSearchCV(RandomForestRegressor(random_state = 42), {
        'n_estimators' : [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)],
        'max_features' : ['auto', 'sqrt'],
        'max_depth' : [int(x) for x in np.linspace(10, 110, num = 11)],
        'min_samples_split' : [2, 5, 10],
        'min_samples_leaf' : [1, 2, 4],
        'bootstrap' : [True, False]
    }, 
    cv=5, 
    return_train_score=False, 
    n_iter=2
)
rs.fit(reports, reports['No. of deaths'])
pd.DataFrame(rs.cv_results_)[['param_n_estimators','param_max_features','param_max_depth','param_min_samples_split','param_min_samples_leaf','param_bootstrap','mean_test_score']]

,param_n_estimators,param_max_features,param_max_depth,param_min_samples_split,param_min_samples_leaf,param_bootstrap,mean_test_score
0,1400,sqrt,40,10,2,True,0.814015
1,600,auto,10,5,1,False,0.985935

In [104]:
rs.best_params_

{'n_estimators': 600,
 'min_samples_split': 5,
 'min_samples_leaf': 1,
 'max_features': 'auto',
 'max_depth': 10,
 'bootstrap': False}

In [77]:
rf = RandomForestRegressor(n_estimators = 600,min_samples_split = 5,min_samples_leaf = 1,max_features = 'auto',max_depth = 10,bootstrap = False)

In [78]:
rf.fit(X_train,y_train)

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=False, max_depth=10, min_samples_split=5,
                      n_estimators=600)

In [79]:
pr = rf.predict(X_test)

In [80]:
r2_score(y_test, pr)

0.8740527116319945

In [81]:
tarinpred = rf.predict(X_train)

In [82]:
r2_score(y_train, tarinpred)

0.8939702763327111